2DGame/02-Bubble/.vs/
.vs/
2DGame/02-Bubble/02-Bubble/Debug/02-Bubble.log
2DGame/02-Bubble/02-Bubble/Debug/
2DGame/02-Bubble/Debug/02-Bubble.pdb
2DGame/02-Bubble/Debug/02-Bubble.ilk
2DGame/02-Bubble/Debug/02-Bubble.exe
Juego3D/Juego3D/Library/metadata/63/633504fcac71dd1419f4e3893079a101.info
Juego3D/Juego3D/Library/
