2DGame/02-Bubble/.vs/
.vs/
2DGame/02-Bubble/02-Bubble/Debug/02-Bubble.log
2DGame/02-Bubble/02-Bubble/Debug/
2DGame/02-Bubble/Debug/02-Bubble.pdb
2DGame/02-Bubble/Debug/02-Bubble.ilk
2DGame/02-Bubble/Debug/02-Bubble.exe
